/*= require 'main' */
/*= require 'mediaqueries' */
/*= require 'unite-gallery/unite-gallery' */

h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
  .image {
    width: 300px;
  }
}

#intro {
  h1 {
    margin-bottom: 0em;
  }
}

#event {
  .blog-post-title {
    border-bottom: 1px solid #919191;
  }
}
