#footer.clear
  .one_quarter.first
    %h2.footer_title Páginas
    %nav.footer_nav
      %ul.nospace
        %li
          %a{href: '/policy'} Politica de privacidad
        %li
          %a{href: '/about'} Asociación Portal Lúdico
  .one_quarter
    %h2.footer_title Asociación Portal Lúdico
    %ul.list.none
      %li
        %a.item{href: 'https://portalludico.com', target: '_blank'}
          %span.icon-home
          Web
      %li
        %a.item{href: 'https://twitter.com/portalludico', target: '_blank'}
          %span.icon-twitter
          Twitter
      %li
        %a.item{href: 'https://www.instagram.com/asociacionportalludico/', target: '_blank'}
          %span.icon-sign-blank
          Instagram
      %li
        %a.item{href: 'https://www.facebook.com/asociacionportalludico/', target: '_blank'}
          %span.icon-facebook
          Facebook
      %li
        %a.item{href: 'mailto:info@portalludico.com'}
          %span.icon-envelope-alt
          Correo
  .one_quarter
    %h2.footer_title Eventos Menteludic
    %ul.list.none
      %li
        %a.item{href: 'https://twitter.com/menteludic', target: '_blank'}
          %span.icon-twitter
          Twitter
      %li
        %a.item{href: 'https://www.instagram.com/menteludic/', target: '_blank'}
          %span.icon-sign-blank
          Instagram
      %li
        %a.item{href: 'https://www.facebook.com/events/3219947994683738/', target: '_blank'}
          %span.icon-facebook
          Facebook
      %li
        %a.item{href: 'mailto:menteludic@gmail.com'}
          %span.icon-envelope-alt
          Correo
  .one_quarter
    %img{src: '/images/portalludico_footer.png'}


.wrapper.row4
#copyright.clear
  %p.fl_left
    Copyright © 2020 - All Rights Reserved -
    %a{href: 'https://portalludico.com'} Portal Lúdico
