#intro.clear
  .one_third.first
    %a.featherlight{href: '#', 'data-featherlight': '/images/headline.png'}
      %img{alt: '', src: '/images/headline.png'}/
  .two_third
    %h1.emphasise Menteludic 2020 - Collado Villalba
    %h3 Feria del Comic y el Fandom, Carpa de la Malvaloca
    %p.font-large Juegos de Mesa - Rol - Cómic
    %p.font-large Ilustradores - Actividades para niños - Juegos Gigantes - Talleres - Torneos - Sorteos - Cosplayers... ¡Y Mucho Más!
    %ul.list.white.arrow
      %li Viernes 13 de Marzo, 18:00 - 22:00
      %li Sábado 14 de Marzo, 11:00 - 14:30 y 16:00 - 22:00
      %li Domingo 15 de Marzo, 11:00 - 14:30 y 16:00 - 20:00
    %br
    %p.nospace
      %a.button.medium.orange.rnd5{href: '/events/menteludic-villalba-marzo-2020.html'} Más información »
