%nav#topnav
  %ul.clear
    %li.active
      %a{href: '/', title: 'Inicio'} Inicio
    %li
      %a.drop{href: '#', title: 'Eventos'} Eventos
      %ul
        -# %li
        -#   %a{href: '/events/menteludic-villalba-marzo-2019', title: 'Collado Viallalba 2019'} Collado Villalba 2019
        %li
          %a{href: '/events/menteludic-moralzarzal-octubre-2019', title: 'Moralzarzal 2019'} Moralzarzal 2019
        %li
          %a{href: '/events/menteludic-villalba-marzo-2020.html', title: 'Collado Viallalba 2020'} Collado Villalba 2020

