%nav#topnav
  %ul.clear
    %li.active
      %a{href: '/', title: 'Inicio'} Inicio
    %li
      %a.drop{href: '#', title: 'Eventos'} Eventos
      %ul
        %li
          %a{href: '/events/moralzarzal_2019', title: 'Moralzarzal 2019'} Moralzarzal 2019
