%header#header.full_width.clear
  #hgroup
    %h1
      %a{:href => "/"}
        %img.image{src: '/images/logo_menteludic_negativo_horizontal.png'}
  #header-contact
    %ul.list.none
      -# %li
      -#   %span.icon-envelope
      -#   -# %a{:href => "#"} info@domain.com
      -# %li
      -#   %span.icon-phone
      -#   -# +xx xxx xxxxxxxxxx
