---
layout: page
title: Acerca de Nosotros
---

#portfolio.three_quarter.first
  %article.clear
    .one_third.first
      %figure.post-image
        %img{alt: '', src: '/images/logo_portalludico.png'}/
    .two_third
      %header
        %h2.blog-post-title Asociación Portal Lúdico

      %p
        La Asociación Cultural Portal Lúdico es una asociación sin animo de lucro, ubicada en Collado Villalba (Madrid) pero de ámbito nacional, orientada a la difusión y creación de actividades relacionadas con los juegos en sus diferentes variantes educolúdicas.
      %p
        El principal objetivo de la Asociación es fomentar la utilización de juegos de mesa y rol, en todas sus variantes, como alternativa de ocio en España, así como dar a conocer sus ventajas educativas, culturales y lúdicas entre los miembros de la asociación o personas ajenas a ésta. Para ello colaboramos con diversas entidades públicas y privadas para fomentar este sano modo ocio.
      %p
        Si quieres conocer lo que hacemos, te invitamos a que pases por nuestra sede y nos conozcas. Si tu pasión son los juegos de mesa, rol, miniaturas y wargames... ¡Este es tu espacio!

#sidebar_1.sidebar.one_quarter
  %aside
    %section
      %h2 Dónde estamos
      %address
        Avda. Honorio Lozano, 24
        %br/
        Collado Villalba
        %br/
        28400 - Madrid
        %br/
        Email:
        %a{href: 'mailto:info@portalludico.com'} info@portalludico.com
    %section
      %article
        %h2 Mapa
        %iframe{src: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.03527407432!2d-4.003720684482321!3d40.62910405061945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd417416f670eabf%3A0x6c7ac4cc1c1609b0!2sPortal%20Juegos!5e0!3m2!1ses!2ses!4v1582135846213!5m2!1ses!2ses', width: '250', height: '250', frameborder: '0', style: 'border:0;', allowfullscreen: ''}
    / /section
    / ##########################################################################################
/ ################################################################################################



