---
layout: frontend
title: Inicio
---

- content_for :event do
  .one_third.first
    %img{alt: '', src: '/images/kids/villalba_febrero_2020.jpg'}/
  .two_third
    %h2 Meteludic Kids - Collado Villalba, 15 de Febrero de 2020
    %p
      El Sábado 15 de febrero de 2020 de 11:00 a 14:00 os esperamos a todos en el salón el Capricho de Collado Villalba.
    %p
      Organizado por la Concejalía de la Juventud de Collado Villalba y por la Asociación Portal Lúdico:
    %p
      Jugando en Familia - Actividades gratuitas
      Para familias con niños de Primaria y Secundaria Juegos de mesa, rol, gamificación, Wargames y mucho más!!
    %p
      Plazas limitadas hasta completar aforo

-# - content_for :sidebar do
-#   %h2.font-medium Headline Text
-#   .one_half.first
-#     %a{:href => "#"}
-#       %img{:alt => "", :src => "images/demo/video.gif"}/
-#   .one_half
-#     %a{:href => "#"}
-#       %img{:alt => "", :src => "images/demo/video.gif"}/
